@font-face {
	font-family: 'Open Sans', sans-serif;
}

body, div, section, header, p, h1, h2, h3, h4, menu, a, button, i {
	margin: 0;
	padding: 0;
	border: 0;
}

body, div, section, header, p, ul, li, h1, h2, h3, h4, menu, a, button, i {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

body {
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100%;
}

.page {
	margin-top: 160px;
	font-size: 30px;
}

h1 {
	font-weight: 800;
	font-size: 65px;
	text-transform: uppercase;
	margin-bottom: 50px;
}

h2 {
	font-weight: 800;
	font-size: 44px;
	text-transform: uppercase;
}

h3, h4 {
	font-weight: 600;
}

p {
	margin-top: 5px;
	margin-bottom: 20px;
	line-height: 24px;

}

blockquote p {
	margin: 10px 0 100px 0;
	font-size: 36px;
	line-height: 42px;
	font-weight: 800;
	font-style: italic;
}

.container {
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	color: #b69c74;
}


.menu {
	padding-top: 30px;
	text-align: right;
}

.menu a {
	margin-left: 60px;
	text-decoration: none;
	font-weight: 400;
	font-size: 24px;
}

.menu a:hover {
	text-decoration: underline;
}

footer {
	border-top: #248d94 1px solid;
	margin-top: 100px;
	width: 100%;
	min-height: 200px;
	background-color: #0b353c;
	padding: 10px 0 300px 0;
}

footer * {
	font-size: 18px;
	line-height: 36px;
}

footer .footertext {
	line-height: 18px;
	margin-top: 20px;
}

footer h2 {

}

footer strong {
	font-weight: 800;
}

footer img {
	width: 40px;
	height: 40px;
}

footer .instafooter {
	margin: 5px 0 20px 0;
}

footer .instafooter * {
	line-height: 24px;
}

footer .instafooter img {
	display: block;
	float: left;
	margin: 8px 15px 0 0;
}

@media only screen and (max-width: 1000px) {
	body {
		background-image: url(img/background_1000.jpg);
	}

	.menu a {
		margin-left: 30px;
		font-size: 18px;
	}

	h1 {
		font-size: 36px;
		line-height: 36px;
	}

	blockquote p {
		margin: 22px 0 44px 0;
		font-size: 22px;
	}

	footer {
		margin-top: 20px;
	}
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
	body {
		background-image: url(img/background_1200.jpg);
	}
}

@media only screen and (min-width: 1201px) and (max-width: 1920px) {
	body {
		background-image: url(img/background_1920.jpg);
	}

	blockquote p {
		margin: 60px 0 200px 0;
	}
}

@media only screen and (min-width: 1921px) {
	body {
		background-image: url(img/background_1920.jpg);
	}

	blockquote p {
		margin: 60px 0 300px 0;
	}
}

#art img,
#photography img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}