@font-face {
	font-family: 'Open Sans Light';
	src: url("./fonts/OpenSans-Light.ttf") format('truetype');
}

@font-face {
	font-family: 'Open Sans Bold';
	src: url("./fonts/OpenSans-SemiBold.ttf") format('truetype');
}


body, div, section, header, p, ul, li, h1, h2, h3, h4, menu, a {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans Light', sans-serif;
	font-weight: 300;
	font-size: 1em;
}

h2 {
	font-size: 2em;
	display: none;
}

h3, h4 {
	font-family: 'Open Sans SemiBold', sans-serif;
	font-weight: 600;

	margin: 20px 0 10px 0;
}

td {
	vertical-align: top;
	padding: 0 50px 10px 0;
}

body {
	background-color: #9e9b97;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.scrollmagic-pin-spacer {
	vertical-align: top;
}

#page {
	box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.2);
	margin-left: auto;
	margin-right: auto;
	max-width: calc(1000px);
	background-color: #9e9b97;
}

section {
	padding: 20px 100px 50px 100px;
	background-color: #0e587f;
}

header {
	background-color: #c1bbb6;
	background-image: url("img/header.jpg");

	background-position: center;
	height: 450px;
	background-size: 120%;
	background-repeat: no-repeat;
}

menu {
	background-color: #848581;
	color: white;
	padding: 5px 0 5px 60px;
}

menu a, menu a:hover, menu a:active {
	color: white;
	text-decoration: none;
	padding-left: 40px;
}

.scrollScale1 header {
	background-size: 100%;
	height: 220px;
}

.scrollScale2 header {
	background-size: 100%;
	height: 220px;
}

#contact {
	background-color: white;
}

#connect {
	background-color: #cdcccc;
}

#connect ul {
	font-size: 0;
}

#connect li {
	width: 150px;
	height: 150px;
	margin: 0 10px 10px 0;
	display: inline-block;
	background-color: white;
	list-style-type: none;
}

.address {
	margin: 20px;
}

.half {
	max-width: calc(50% - 30px);
	display: inline-block;
	vertical-align: top;
}

.left {
	padding-right: 20px;
}

.right {
	padding-left: 20px;
}

#imprint {
	background-color: white;
}