@font-face {
	font-family: 'Open Sans', sans-serif;
}


body, div, section, header, p, ul, li, h1, h2, h3, h4, menu, a, button, i {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

body {
	background-image: url(img/background.jpg);
}

a {
	color: #0d587f;
}

h2 {
	font-size: 2em;
	font-weight: 300;
	width: 100%;
	margin: 50px 0 10px 0;
}

h3, h4 {
	font-weight: 700;
	margin: 20px 0 10px 0;
}

td {
	vertical-align: top;
	padding: 0 50px 10px 0;
}

body {
	background-color: #9e9b97;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

#page {
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
	margin-left: auto;
	margin-right: auto;
	max-width: calc(1000px);
	background-color: #9e9b97;
}

section {
	padding: 20px 100px 50px 100px;
	background-color: #0e587f;
}

header menu {
	background-color: #0d587f;
	padding: 0 0 0 80px;
	position: fixed;
	z-index: 1;
	width: 100%;
	max-width: calc(1000px - 80px);
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) and (min-width: 801px) {
	section { padding: 20px 50px 50px 50px; }
	header menu { padding: 0 0 0 30px; max-width: calc(1000px - 30px); }
}

@media only screen and (max-width:  800px) and (min-width: 601px) { 
	section { padding: 20px 40px 50px 40px; }
	header menu { padding: 0 0 0 20px; max-width: calc(1000px - 20px); }
}

@media only screen and (max-width:  600px) and (min-width: 401px) { 
	section { padding: 20px 30px 50px 30px; }
	header menu { padding: 0 0 0 10px; max-width: calc(1000px - 10px); }
}

@media only screen and (max-width:  400px) { 
	section { padding: 20px 20px 50px 20px; }
	header menu { padding: 0; max-width: 1000px; }
}

header {
	background-color: #c1bbb6;
	margin: 0;
	padding: 0;
}

header img {
	width: 100%;
	height: auto;
	display: block;
}

header menu a, header menu a:hover, header menu a:active {
	color: white;
	text-decoration: none;
	padding: 5px 20px 5px 20px;
	display: block;
	transition: all .3s ease;
}

header menu a:hover {
	background-color: white;
	color: #0d587f;
}

#contact {
	background-color: white;
	vertical-align: top;
	display: flex;
	flex-wrap: wrap;
}

#contact table {
	width: 100%;
	min-width: 300px;
}

#contact div {
	width: 50%;
	min-width: 300px;
	justify-content: flex-end;
}

#contact img {
	max-width: 350px;
	min-width: 200px;
	width: 100%;
	border-radius: 50%;
	display: block;
	margin: 0 0 0 auto;
}

#connect {
	background-color: #cdcccc;
	display: flex;
	flex-wrap: wrap;
}

#connect ul {
	display: flex;
	flex-wrap: wrap;
}

#connect li {
	width: 140px;
	height: 140px;
	margin: 0 20px 20px 0;
	list-style-type: none;
	text-align: center;
}

#connect a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	background-color: white;
	display: block;
	border-radius: 3px;
	color: #0d587f;
	transition: all .2s ease;
	position: relative;
}

#connect a:hover {
	background-color: #0d587f;
	color: white;
	transform: translate(-5px, -5px) scale(1.05, 1.05);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

#connect a:active {
	background-color: black;
}

#connect li a i {
	position: absolute;
	top: 30px;
	left: 0px;
	font-size: 60px;
	width: 100%;
	height: 70px;
	transition: all .2s ease;
	color: #0d587f;
	overflow: hidden;
	user-select: none;
}

#connect li a:hover p {
	 color: white;
}

#connect li a:hover i {
	color: white;
	opacity: 0;
	animation-name: fadeInConnect;
	animation-delay: 0.2s;
	animation-duration: 0.3s; 
	animation-timing-function: ease;
	animation-fill-mode: forwards; 
}

@keyframes fadeInConnect {
	0%   { top: 50px; opacity: 0; }
	75% { top: 22px; opacity: 1; }
	100% { top: 30px; opacity: 1; }
}

#connect li a p {
	position: absolute;
	top: 100px;
	left: 0px;
	display: block;
	width: 100%;
	height: 30px;
	text-align: center;
	color: #0d587f;
	user-select: none;

}

@media only screen and (max-width: 800px) { 
	#connect li {
		width: 100px;
		height: 100px;
	}

	#connect li a i {
		top: 20px;
		font-size: 40px;
		width: 100%;
		height: 40px;
	}

	#connect li a p {
		top: 70px;
	}

	@keyframes fadeInConnect {
		0%   { top: 40px; opacity: 0; }
		75% { top: 15px; opacity: 1; }
		100% { top: 20px; opacity: 1; }
	}
}

#imprint {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
}

#imprint .address {
	margin: 20px;
}

#imprint .half {
	max-width: calc(50% - 30px);
	min-width: 300px;
	display: inline-block;
	vertical-align: top;
}

#imprint .left {
	padding-right: 20px;
}

#imprint .right {
	padding-left: 20px;
}


@media only screen and (max-width:  710px) { 
	#imprint .left { padding-right: 0; }
	#imprint .right { padding-left: 0; }
}

#imprint ul {
	margin: 0 0 20px 0;
}

#imprint li {
	margin: 0 0 5px 20px;
}

#code {
	background-color: #cdcccc;
	display: flex;
	flex-wrap: wrap;
}

#code h3 {
	width: 100%;
}

#code a {
	margin-right: 30px;
	color: #666;
	text-decoration: none;
}

#code i {
	font-size: 30px;
}

/* MODALER SCREEN */
#modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

#modal #background {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
}

#modal #background {
	background-color: #cdcccc;
	opacity: 0.85;
}

#dialogWindow {
	position: fixed;
	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 3px;
	width: 500px;
  	max-width: 100%;
  	min-width: 300px;
	z-index: 4;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

#dialogWindowInner {
	top: 20px;
	width: calc(100% - 40px);
	padding: 30px;
}

#dialogWindowInner h2 {
	margin: 0 0 20px 0;
}

#dialogWindowInner p {
	margin: 0 0 20px 0;
}

#dialogWindowInner #npcChoice {
	font-weight: 700;
	text-transform: uppercase;
	color: #0d587f;
}

#playerChoiceBox {
	display: flex;
	flex-wrap: wrap;
}

#playerChoiceBox div {
	padding: 10px 5px 0px 5px;
	margin: 0 10px 20px 0;

	width: 80px;
	height: 90px;

	background-color: white;
	display: block;
	text-align: center;

	border: 3px;
	border-color: white;
	border-style: solid;
	border-radius: 10px;

	position: relative;
}

#playerChoiceBox div:hover {
	background-color: #cdcccc;
}

#playerChoiceBox .current {
	border-color: #0d587f;
	border-style: solid;
	background-color: #cdcccc;
}

#playerChoiceBox .current:hover {
	background-color: #cdcccc;
}

#playerChoiceBox div i {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 100%;

	font-size: 50px;
	color: #0d587f;
}

#playerChoiceBox div p {
	position: absolute;
	top: 60px;
	left: 0px;

	color: #0d587f;
	width: 100%;
	padding-top: 5px;
}

#playerChoiceBox .current i {
	opacity: 0;
	animation-name: fadeInPlayerChoice;
	animation-delay: 0.2s;
	animation-duration: 0.3s; 
	animation-timing-function: ease;
	animation-fill-mode: forwards; 
}

@keyframes fadeInPlayerChoice {
	0%		{ top: 40px; opacity: 0; }
	75%		{ top: 2px; opacity: 1; }
	100%	{ top: 10px; opacity: 1; }
}

#dialogWindow #buttonMenu {
	width: auto;
	margin: 0 0 0 auto;
	background-color: #0d587f;
	text-align: right;
}

#dialogWindow #buttonMenu button {
	border: 0px;
	padding: 5px 20px 5px 20px;
	margin: 10px;
	border-radius: 3px;
	color: white;
	background-color: #0d587f;
}

#goButton {
	font-weight: 700;
}

#dialogWindow #buttonMenu button:hover {
	color: #0d587f;
	background-color: white;
}

#dialogWindow #buttonMenu button i {
	font-size: 50px;
	color: #0d587f;
}

@media only screen and (max-width:  500px) { 
	#playerChoiceBox div {
		padding: 10px;
		margin: 0 10px 20px 0;
		width: auto;
		height: 55px;
	}

	#playerChoiceBox div i {
		font-size: 30px;
	}
}